<h1>Editing Course</h1>

<%= render 'form' %>

<%= link_to 'Show', @course %> |
<%= link_to 'Back', courses_path %>
<%= link_to 'Destroy', @course, :class => 'btn btn-danger btn-sm', method: :delete, data: { confirm: 'Are you sure?' } %>